* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form_workers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  border: 1px solid black;
  width: 14rem;
}

.form_workers input,
.form_workers button {
  margin: 10px;
  width: 200px;
  height: 30px;
}

.form_workers button {
  background-color: black;
  color: white;
  border: none;
}

.inp_name,
input {
  padding: 5px;
}

.card_elem {
  width: 300px;
  height: 230px;
  border: 1px solid black;
  margin: 10px;
  background-color: cornsilk;
  border-radius: 15px;
  padding: 10px;
}

.link_img {
  width: 128px;
  height: 128px;
  object-fit: cover;
}

.progres_div {
  position: relative;
  border: 1px solid black;
  height: 20px;
}

.progress_line {
  position: absolute;
  height: 100%;
}

.progress_value {
  position: absolute;
  text-align: center;
  width: 100%;
}
