* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text {
  background-color: red;
}

.squer {
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  margin: 10px;
}

/* .div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
} */

/* найти куда подставить? */
