.black_mode {
  background-color: black;
}

.img_slider {
  width: 300x;
  height: 300px;
  object-fit: cover;
}

.img_btn_slider {
  width: 300x;
  height: 300px;
  object-fit: cover;
}

.left_btn {
  background-color: green;
  font-size: large;
  border-radius: 10px;
  width: 40px;
}

.right_btn {
  background-color: green;
  font-size: large;
  border-radius: 10px;
  width: 40px;
}
