body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 10rem;
}

.button_black {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}
